body {
    background: #f4f8fb;
}

.card {
    border: none;
    border-radius: 18px;
}

.btn-primary {
    background-color: #0d6efd;
}

.btn-success {
    background-color: #198754;
}

h1, h2, h3, h4 {
    color: #0d6efd;
}